@page "/usuario/{Id:int}"


<h3>Tareas</h3>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crear">
    Crear Tarea
</button>

<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="3000" Placement="ToastsPlacement.TopRight" />

@if (!cargando)
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Fecha de Vencimiento</th>
            <th>Finalizado</th>
            <th>Accion</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var tarea in usuario.Tareas)
        {
            <tr>
                <td>@tarea.Titulo</td>
                <td>@tarea.Descripcion</td>
                <td>@tarea.FechaVencimiento</td>
                <td>@(tarea.Finalizado.HasValue && tarea.Finalizado.Value ? "Si" : "no")</td>
                <td>
                        <i data-bs-toggle="modal" data-bs-target="#editar" @onclick="() => tareaEditar = tarea">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                        </svg>
                    </i>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No hay tareas</p>
}



<!-- Modal -->
<div class="modal fade" id="crear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <EditForm method="post" OnValidSubmit="CrearTarea" Model="typeof(Entidad.Usuario)">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="name" class="form-label">Titulo</label>
                        <input type="text" class="form-control" id="name" @bind-value="@tareaCrear.Titulo" required>
                    </div>
                    <div class="mb-3">
                        <label for="lastname" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" id="lastname" @bind-value="@tareaCrear.Descripcion" required>
                    </div>
                    <div class="mb-3">
                        <label for="Tags" class="form-label">Tags</label>
                        <input type="text" class="form-control" id="Tags" @bind-value="@tareaCrear.Tags" required>
                    </div>
                    <div class="mb-3">
                        <label for="FechaVencimiento" class="form-label">Fecha Vencimiento</label>
                        <input type="date" class="form-control" id="Tags" @bind-value="@tareaCrear.FechaVencimiento" required>
                    </div>
                    <div class="mb-3">
                        <label for="prioridad" class="form-label">Prioridad</label>
                        <select id="prioridad" class="form-control" @bind="@tareaCrear.PrioridadId" required>
                            <option value="null" selected>Seleccione....</option>
                            @foreach (var prioridad in prioridades)
                            {
                                <option value="@prioridad.Id">@prioridad.Nombre</option>
                            }
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <EditForm method="put" OnValidSubmit="EditarTarea" Model="typeof(Entidad.Usuario)">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="name" class="form-label">Titulo</label>
                        <input type="text" class="form-control" id="name" @bind-value="@tareaEditar.Titulo" required>
                    </div>
                    <div class="mb-3">
                        <label for="lastname" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" id="lastname" @bind-value="@tareaEditar.Descripcion" required>
                    </div>
                    <div class="mb-3">
                        <label for="Tags" class="form-label">Tags</label>
                        <input type="text" class="form-control" id="Tags" @bind-value="@tareaEditar.Tags" required>
                    </div>
                    <div class="mb-3">
                        <label for="FechaVencimiento" class="form-label">Fecha Vencimiento</label>
                        <input type="date" class="form-control" id="Tags" @bind-value="@tareaEditar.FechaVencimiento" required>
                    </div>
                    <div class="mb-3">
                        <label for="Finalizado" class="form-label">Finalizado</label>
                        <input type="checkbox" id="Finalizado" @bind-value="@tareaEditar.Finalizado">
                    </div>
                    <div class="mb-3">
                        <label for="prioridad" class="form-label">Prioridad</label>
                        <select id="prioridad" class="form-control" @bind="@tareaEditar.PrioridadId" required>
                            @foreach (var prioridad in prioridades)
                            {
                                <option value="@prioridad.Id">@prioridad.Nombre</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="Eliminado" class="form-label">Eliminar</label>
                        <input type="checkbox" id="Eliminado" @bind-value="@tareaEditar.Eliminado">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Editar</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>